* {
	margin: 0;
	padding: 0;
    font-family: arial, serif;
	font-size: 24px;
}

body {
	background-color: cornsilk;
	
}

.horizontal-menu {
	display: flex;
	justify-content: flex-start;
}

.horizontal-menu li {	
	list-style-type: none;
	background: red;	
}

.relative, 
.box-relative,
.sub-box-relative {	
	position: relative;
	color: green;
}

.menu-link {
	color: white;
	text-decoration: none;
	padding: 0 15px;
	letter-spacing: 2px;
	width: 100%;	
}

.vertical-menu {
	display: none;
	position: absolute;
	top: calc(100% + 1px);
	box-shadow: 2px 2px #3c354a;
	width: 230px;
}

.vertical-menu .vertical-menu,
.vertical-menu .vertical-menu .vertical-menu {
	display: none;
	position: absolute;
	top: 0;
	left: calc(100% + 1px);
	box-shadow: 2px 2px #3c354a;
	width: 230px;	
}

.horizontal-menu li:hover {	
	background: black;
	box-shadow: 3px 5px #22c222;
	transition-duration: 2s;	
}

.relative:hover > .vertical-menu,
.box-relative:hover > .vertical-menu,
.sub-box-relative:hover > .vertical-menu {
	display: block;
}

